<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <style>
        body {
            overflow-x: hidden;
            width: 100%;
            height: 100%;
            background-color: #c3c3c3;
            font-family: 'Inconsolata', monospace;
        }

        .container {
            text-align: center;
            width: 100%;
        }

        .panelData {
            text-align: center;
            background: white;
            width: 70%;
            display: inline-block;
            padding: 15px;
        }

        #divError {
            padding: 5px;
            background: rgb(255, 122, 122);
            color: rgb(51, 35, 35);
            margin-bottom: 20px;
        }

        #divSearching {
            padding: 5px;
            background: rgb(255, 255, 122);
            color: rgb(51, 35, 35);
            margin-bottom: 20px;
        }

        #btnStats {
            margin-top: 10px;
            background: rgb(100, 255, 139);
        }

        .bold {
            font-weight: bold;
        }

        #map {
            height: 200px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="panelData">
            <small>v4</small>
            <h1>Api geoMeli </h1>
            <div>
                <div id="divError" style="display: none;"></div>
                <div id="divSearching" style="display: none;">Buscando Datos...</div>
                <input type="text" id="ipAddress" maxlength="15" placeholder="Ingrese la dirección IP">
                <input id="btnSubmit" type="button" value="Solicitar datos" onclick="generateRequest();"></button><br>
                <input id="btnStats" type="button" value="Ver estadística"
                    onclick="window.location.assign('/stats');"></button>
            </div>
            <div id="divResult" style="display: none;">
                <div style="width:100%;text-align: center;margin-top: 20px;">
                    <div style="width:350px;display:inline-block;text-align: left;">
                        <div style="text-align: center;">
                            <img id="imagen" src="" alt=""
                                style="border:1px solid grey;display:inline-block; width: 200px;height: 120px">
                        </div>
                        <div style="margin-top: 20px;">
                            <div>
                                <label>IP: </label>
                                <label id="ip" class="bold"></label>
                            </div>
                            <div>
                                <label>País: </label>
                                <label id="name" class="bold"></label>
                            </div>
                            <div>
                                <label>Capital: </label>
                                <label id="capital" class="bold"></label>
                            </div>
                            <div>
                                <label>ISO Code: </label>
                                <label id="IsoCode" class="bold"></label>
                            </div>
                            <div>
                                <label>Idiomas: </label>
                                <label id="languages" class="bold"></label>
                            </div>

                            <div>
                                <label>Moneda: </label>
                                <label id="currencies" class="bold"></label>
                            </div>

                            <div>
                                <label>Cotización: </label>
                                <label id="rateExchange" class="bold"></label>
                            </div>

                            <div>
                                <label>Hora: </label>
                                <label id="timeZone" class="bold"></label>
                            </div>

                            <div>
                                <label>Distancia estimada: </label>
                                <label id="distance" class="bold"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</body>
<script>

    var map = L.map('map', { zoomControl: false, scrollWheelZoom: false });

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var marker;
    function ValidateIPaddress(ipaddress) {
        return (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipaddress));
    }

    function generateRequest() {
        if (ValidateIPaddress(document.getElementById("ipAddress").value)) {
            sendRequest();
        } else {
            alert("La dirección IP ingresada es incorrecta, verifique.")
        }
    }

    function clearData() {
        document.getElementById("ip").innerHTML = "";
        document.getElementById("name").innerHTML = "";
        document.getElementById("capital").innerHTML = "";
        document.getElementById("imagen").src = "";
        document.getElementById("IsoCode").innerHTML = "";
        document.getElementById("languages").innerHTML = "";
        document.getElementById("currencies").innerHTML = "";
        document.getElementById("rateExchange").innerHTML = "";
        document.getElementById("timeZone").innerHTML = "";
        document.getElementById("distance").innerHTML = "";
    }

    function sendRequest() {
        clearData();
        setLoading(true);
        $.ajax({
            "url": "http://localhost:8080/api/country/info",
            "method": "POST",
            "timeout": 0,
            dataType: "json",
            "headers": {
                "Content-Type": "application/javascript"
            },
            "data": document.getElementById("ipAddress").value,
            success: function (data) {
                console.log(data);
                if (!data.success) {
                    showRequestError(data.message);
                    return;
                }
                setLoading(false);

                var res = data.ip.country;
                document.getElementById("ip").innerHTML = data.ip.ip;
                document.getElementById("name").innerHTML = res.name;
                document.getElementById("capital").innerHTML = res.capital;
                document.getElementById("imagen").src = res.flag;
                document.getElementById("IsoCode").innerHTML = res.alpha2Code;

                var lan = "";
                Array.from(res.languages).map((language, index) => {
                    if (index > 0)
                        lan += ", ";

                    lan += `${language.name} (${language.iso639_1})`;
                })
                document.getElementById("languages").innerHTML = lan;

                var mon = "";
                var cot = "";
                Array.from(res.currencies).map((currency, index) => {
                    if (index > 0) {
                        mon += ", ";
                        if (cot != "")
                            cot += ", ";
                    }

                    mon += `${currency.symbol} (${currency.code} - ${currency.name})`;
                    if (currency.exchangeRate > 0) {
                        cot += `1 ${currency.code} = ${currency.exchangeRate.toFixed(2)} USD <span style='color:grey;'> al ${currency.dateExchange} </span>`;
                    } else {
                        cot += `${currency.code} sin cotización`;
                    }
                })
                document.getElementById("currencies").innerHTML = mon;
                document.getElementById("rateExchange").innerHTML = cot;

                var hor = "";
                Array.from(res.timezones).map((timeZone, index) => {
                    if (index > 0)
                        hor += ", ";

                    hor += `${timeZone}`;
                })
                document.getElementById("timeZone").innerHTML = hor;
                if (marker != undefined) {
                    marker.remove();
                }

                document.getElementById("distance").innerHTML = `${res.distanceToArgentina} kms. (${res.lat}, ${res.lng})`;
                marker = L.marker([res.lat, res.lng]).addTo(map)
                    .bindPopup('Aquí es <b>' + res.name + '</b>')
                    .openPopup();

                map.setView([res.lat, res.lng], 3)
            },
            error: function (err) {
                showRequestError("Ocurrió un problema, vuelva a intentarlo.");
                console.log(err);
            }
        })
    }

    function setLoading(visible) {
        if (visible) {
            document.getElementById('divError').style.display = "none";
            document.getElementById('divSearching').style.display = "";
            document.getElementById('divResult').style.display = "none";
            document.getElementById('btnSubmit').disabled = true;
        } else {
            document.getElementById('divError').style.display = "none";
            document.getElementById('divSearching').style.display = "none";
            document.getElementById('divResult').style.display = "";
            document.getElementById('btnSubmit').disabled = false;
        }
    }

    function showRequestError(msg) {
        document.getElementById('divError').style.display = "";
        document.getElementById('divError').innerText = msg;
        document.getElementById('divSearching').style.display = "none";
        document.getElementById('btnSubmit').disabled = false;

    }
</script>

</html>